@import "tailwindcss";

@theme {
  --color-neutral-900: hsl(248, 70%, 10%);
  --color-neutral-700: hsl(245, 19%, 35%);
  --color-neutral-500: hsl(245, 15%, 58%);
  --color-neutral-300: hsl(252, 6%, 83%);
  --color-neutral-100: rgba(255, 255, 255, 0.5);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-700: hsl(7, 71%, 60%);
  --color-orange-500: hsl(7, 88%, 67%);

  --font-family: "Inconsolata", monospace;

  --text-preset-500: 20px;
  --text-preset-600: 18px;
  --text-preset-700: 12px;
}

@layer components {
  .form_input {
    @apply mb-6;
  }
  label {
    @apply inline-block mb-3 text-(length:--text-preset-500);
  }

  input {
    @apply border-neutral-500 border-solid border-1 outline-1 outline-neutral-500 w-full rounded-xl py-4 pl-4 bg-white/8;
  }

  input + p {
    @apply mt-3;
  }
  input:focus {
    @apply bg-white/20 outline-neutral-500 outline-3 outline-offset-4;
  }

  /* input:required {
    @apply border-red-600;
  } */

  input.error {
    @apply border-red-600 outline-none;
  }

  .error {
    @apply text-red-600 text-(length:--text-preset-700);
  }

  input::placeholder {
    @apply text-neutral-300;
  }

  .info {
    filter: brightness(0) saturate(100%) invert(14%) sepia(67%) saturate(7364%)
      hue-rotate(352deg) brightness(86%) contrast(113%);
  }

  .button {
    @apply bg-orange-500 inline-block w-full rounded-xl py-4 text-(length:--text-preset-500) text-neutral-900 font-extrabold;
  }
}

:root {
  --margin-top-header: clamp(
    2rem,
    1.823943661971831rem + 0.7511737089201878vw,
    2.5rem
  );
  --margin-bottom-header: clamp(
    2.5rem,
    2.0598591549295775rem + 1.8779342723004695vw,
    3.75rem
  );
  --width-heading: clamp(343px, 90%, 890px);
  --font-size-heading: clamp(
    1.875rem,
    1.214788732394366rem + 2.8169014084507045vw,
    3.75rem
  );

  --width-form: clamp(343px, 90%, 460px);
}

body {
  color: white;
  font-size: 20px;
  /* font-family: "Inconsolata", monospace; */
}
